*{
    background-color: beige;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: red;
}

#first{
    font-family: cursive;
    font-size: auto;
    color: aqua;
}

#second{
    font-family: cursive;
    font-size: auto;
    color: greenyellow;
}

#third{
    font-family: cursive;
    font-size: auto;
    color: green;
}

h2{
    color: yellowgreen;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}
#description{
    color: rgb(143, 44, 143);
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}

#description .described {
    font-family: cursive;
    color: black;
    text-align: center;
}

.bullets{
    color: blue;
}

#steps{
    color: orangered;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
}