*{
    background-color: beige;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: red;
}

#first{
    font-family: cursive;
    font-size: auto;
    color: aqua;
}

#second{
    font-family: cursive;
    font-size: auto;
    color: greenyellow;
}

#third{
    font-family: cursive;
    font-size: auto;
    color: green;
}